certifi==2020.6.20
colorama==0.4.3
colorlog==4.2.1
colormap==1.0.3
cycler==0.10.0
easydev==0.9.38
kiwisolver==1.2.0
matplotlib==3.3.1
mpmath==1.1.0
numpy==1.19.1
pexpect==4.8.0
pickle5==0.0.11
Pillow==7.2.0
ptyprocess==0.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.15.0
sympy==1.6.2
